@font-face {
    font-family: "Aboreto";
    src: url("/fonts/Aboreto-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url("/fonts/ZenOldMincho-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mukta-Light";
    src: url("/fonts/Mukta-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

/* General Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Centering along the vertical axis */
    overflow-x: hidden; /* Prevent horizontal scroll */
    box-sizing: border-box;
    width: 100vw; /* Ensure the body spans the entire viewport width */
    background-color: #050505;
}


/* Navigation Bar Styles */
.navbar {
    gap: 2vw;
    position: fixed;
    top: 2vw;
    right: 2vw;
    z-index: 10;
    width: auto;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border: 2px solid white;
    border-radius: 1vw;
    background-color:#050505;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: white;
    color: #050505;
    border: 2px solid #050505;
}

 /* Dropdown Styles */
 .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 15vw;
    z-index: 1;
    margin-top: 0.5vw;
    
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-content a:hover {
    background-color: white;
    color: #050505;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Contact Section Styles */
#contact {
    background-color: #050505;
    width: 100vw;
}

.contact-elements{
    text-align: left;
    display: flex;
    margin-left: 4vw;
}

.contact-elements h2 {
    margin-top: 7vw;
    font-size: 2.5vw;
    color: #e0e0e0;
    font-family: Zen Old Mincho;
    width: 30vw;
}

.contact-elements p {
    font-size: 1.4vw;
    color: #e0e0e0;
}

.contact-elements a{
    color: #e0e0e0;
    font-size: 1.4vw;
    
}

.contact-image1 img{
    margin-left: 4vw;
    margin-top: 5vw;
    filter: saturate(7);
    width: 25vw;
    height: auto;
}

.contact-image2 img{
    width: 6vw;
    height: auto;
    margin-top: 21vw;
    margin-left: 23vw;
    padding: 2vw;
}

#top-of-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 8;
}

.title{
   padding-top: 5vw;
}

.title p{
    font-family: Mukta-Light;
    font-size: 1vw;
    width: 60vw;
    color: #e0e0e0;
}

.title h1{
    font-family: Mukta-Light;
    font-size: 2vw;
    color: #e0e0e0;
}

.lo{
    margin-top: 5vw;
    margin-left: 14vw;
    max-width: 100%;
    color: #e0e0e0;
}

.lo p{
    font-family: Mukta-Light;
    font-size: 1vw;
    color: #e0e0e0;
}

.lo li{
    font-family: ZenOldMicho;
    font-size: 1vw;
    color: #e0e0e0;
}

.lo li {
    padding: 5px 10px; /* Add spacing around the text */
    box-sizing: border-box; /* Ensure padding doesn’t affect width */
    text-align: right; /* Ensure text alignment */
}

.lo ul {
    text-align: right; /* Ensure text alignment */
    list-style-type: none
}

.lo a{
    color: #e0e0e0;
}


.content{
    padding: 20px;
    padding-right: 20vw;
    padding-left: 2vw;
    width: auto;
    /* height: 55vw; */
    box-sizing: border-box;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    box-shadow: none;
}
.images img{
    width: 10vw;
    height: auto;
    padding-bottom: 1vw;
    padding-right: 5vw;
}
.images {
    width: 10vw;
    height: auto;
    display: inline;
    padding-left: 2vw;
}

.information h2{
    font-family: Mukta-Light;
    font-size: 2vw;
    color: #e0e0e0;
}

.information p{
    font-family: Mukta-Light;
    font-size: 1.2vw;
    width: 80vw;
    color: #e0e0e0;
}

.information{
    margin-left: 2vw;
    align-items: start;
    max-width: 100%;
    margin-right: vw;
}

.section1, .section2{
    width: 100vw;
    text-align: left;
    padding-left: 3vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.section2{
    background-color: #050505;
}

.section2 h2{
    color: #e0e0e0;
}
.section2 p{
    color: #e0e0e0;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.description{
    max-width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-top: 2vw;
}
a{
    color: purple;
}
hr{
    color: #050505;
}
.deliverables-images img{
    width: 50vw;
    height: auto;
    padding-left: 1vw;
}
.powerpoint-images img{
    width: 20vw;
    height: auto;
    padding-left: 1vw;
}
.school-images img{
    width: 20vw;
    height: auto;
    padding-left: 1vw;
}
video{
    width: 16vw;
    height: auto;
}